<!--
  vue在JavaScript中的应用
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <!-- <script src="../../js/core/seajsInit.js"></script>
    <script src="../../plugin/spin/spin.min.js"></script>
    <script src="../../plugin/guid/guid.js"></script>
    <script src="../../plugin/supermap/libs/proj4.js"></script>
    <script src="../../plugin/element-ui/vue.js"></script>
    <script src="../../plugin/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../../plugin/element-ui/lib/theme-chalk/index.css">
    <script src="../../plugin/messenger/messenger.js"></script>
    <script src="../../plugin/messenger/json2.js"></script>
    <link rel="stylesheet" href="../../css/scrollbar.css">
    <link rel="stylesheet" href="../../css/theme.css">
    <script src="../../plugin/supermap/libs/SuperMap.Include.js"></script>  -->

</head>
<body style="height: calc(100% - 16px);">
<div id="app" style='display:none; height: 100%;'>
    <div>
        <el-tabs
          class="nav"
          v-model="activeName"
          stretch
          type="card"
          style="height:46px"
        >
          <el-tab-pane label="全局视点" name="first">
            <el-table
              :data="tabData1"
              ref="firstViews"
              :show-header="false"
              style="width: 100%;padding: 0px; display: none;"
              height="120px"
              highlight-current-row
              @row-click="handleSelectionChange"
            >
              <el-table-column>
                <template slot-scope="scope">
                  <i class="el-icon-document" style="color:cornflowerblue"/>
                  <span>{{scope.row.label}}</span>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="我的视点" name="second">
            <el-table
              :data="tabData2"
              ref="secondViews"
              :show-header="false"
              style="width: 100%;padding: 0px; display: none;"
              height="120px"
              highlight-current-row
              @row-click="handleSelectionChange"
            >
              <el-table-column>
                <template slot-scope="scope">
                  <i class="el-icon-document" style="color:cornflowerblue"/>
                  <span>{{scope.row.label}}</span>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
    </div>
  
    <div class="list" style="height: calc(100% - 46px);">
        <div>
          <el-input v-model="pointLikeVal" placeholder="输入视点名称查询"></el-input>
        </div>

        <el-table
          :data="tableData"
          ref="childrenList"
          style="width: 100%; padding-left: 4px;"
          height="402px"
          highlight-current-row
          @row-click="childListSelectionChange"
        >
          <el-table-column
            type="index"
            label="序号"
            width="50"
          >
          </el-table-column>
          <el-table-column
            prop="picture"
            label="缩略图"
            width="70"
          >
            <template slot-scope="scope">
              <img :src="getImgUrl(scope.row.picture)" alt="" class="tr_Img"/>
            </template>
          </el-table-column>
          <el-table-column
            label="视点名称"
            class='tooltip'
            effect="light"
          >
            <template slot-scope="scope">
              <span class="tableContext" :title="scope.row.label">{{scope.row.label}}</span>
            </template>
          </el-table-column>
          <el-table-column
            width="50"
          >
            <template slot-scope="scope">
              <el-button
                type="text"
                @click.native.stop="cancelCollecte(scope.row)"
                icon="el-icon-delete"
                size="mini"
                circle
                title="取消收藏"
              >
              </el-button>
            </template>
          </el-table-column>
        </el-table>

        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="pageSize"
          layout="total, sizes, prev, pager, next"
          :total="total"
          style="margin-top: 8px;width: calc(100% - 10px);overflow-x: auto;"
        >
        </el-pagination>
    </div>
</div>
</body>
<script>

function init({Page,map,action,superMapInterface}, viewListData) { 
    Page.viewList = new Vue({
        el: '#app',
        data: function() {
            return{
                userId: '',
                activeName: 'first',
                firstGroupVal: {}, // 过渡，保存当前点击视点组对象
                secondGroupVal: {}, // 过渡，保存当前点击视点组对象
                tabData1: [],
                tabData2: [],
                isChangeNum: 1,
                pointLikeVal: '',
                tableData: [],
                childListVal: {}, // 过渡， 保存当前点击视点对象
                currentPage: 1,
                currentPage1: 1,
                currentPage2: 1,
                pageSize: 10,
                total: 0
            }
        },
        watch: {
            childListVal: {
                // 清空旧图层
                handler(newVal, oldVal){
                    if(oldVal){
                        if(oldVal.length > 0){
                            let param = {
                                layers: oldVal
                            }
                            superMapInterface.interface.closeLayers(param)
                        }
                    }
                    let param2 = {
                        layers: newVal
                    }
                    superMapInterface.interface.visibleLayers(param2)
                },
                deep: true
            },
            activeName(val) {
                this.isChangeNum = 1
                this.tableData = []
                this.handleClick(val, this.isChangeNum)
            },
            pointLikeVal(val){
              if(this.activeName == 'first'){
                this.currentPage1 = 1
              }else{
                this.currentPage2 = 1
              }
              this.currentPage = 1
              this.isChangeNum = 1
              this.handleClick(this.activeName, this.isChangeNum)
            }
        },
        mounted () {
            let _this = this
            $("#app").show()

            _this.handleClick(_this.activeName, 1)

            // EventBus.on({
            //     eventType: TheHomeEvents.viewCollectToViewlist,
            //     groupName: 'viewCollectToViewlist',
            //     target: this
            // }, function(){
            //     _this.isChangeNum = 1
            //     _this.handleClick(_this.activeName, _this.isChangeNum)
            // })
        },
        methods:{
          handleSizeChange(val) {
            console.log(`每页 ${val} 条`);
            this.pageSize = val
            this.isChangeNum = 1
            this.handleClick(this.activeName, this.isChangeNum)
          },
          handleCurrentChange(val) {
            console.log(`当前页: ${val}`);
            if(this.activeName == 'first'){
              this.currentPage1 = val
            }else{
              this.currentPage2 = val
            }
            this.currentPage = val
            this.isChangeNum = 1
            this.handleClick(this.activeName, this.isChangeNum)
          },

          // 判断是否登录
          getUserID(val){
              let userID = ''
              if(val === 'first'){
                  userID = ''
              } else {
                  let item = localStorage.getItem('loginCookie')
                  if(item){
                      userID = typeof item === 'object' ? item.EMPLOYEE_ID : JSON.parse(item).EMPLOYEE_ID
                  } else {
                      userID = 'defaultUser'
                  }
              }
              return userID
          },

          /**
           * @tab 切换顶部导航栏
           * @isChangeNum 切换次数，前两次需走后台接口，后续则不需要
           */
          handleClick(tab, isChangeNum){
              let _this = this
              let userID = _this.getUserID(tab)
              let appID = appConfig.interFace.appId
              if(isChangeNum <= 2){ // 是否第一次打开此tab
                  Page.requestProvider({
                      async: true,
                      type: 'POST',
                      data: {
                          interfaceName: "antu.space.provider.pointandgroup.pointAndGroupProvider",
                          methodName: "getGroupPointByUserId",
                          args: [ 
                            userID,
                            appID, 
                            tab==="first" ? _this.currentPage1 : _this.currentPage2,
                            _this.pageSize,
                            _this.pointLikeVal
                          ]
                      },
                      success: function (res) {
                          if (res != null) {
                              if (res.status == "0") {
                                  let data = JSON.parse(res.result)
                                  if(data){
                                      if(tab === 'first'){
                                          _this.tabData1 = data
                                          if(_this.tabData1.length>0){
                                              if(_this.firstGroupVal.groupId === undefined){
                                                  _this.firstGroupVal = _this.tabData1[0]
                                              }
                                              let item = _this.tabData1.find(e => _this.firstGroupVal.groupId === e.groupId)
                                              _this.$nextTick(() => {
                                                  if(item){
                                                      _this.$refs.firstViews.setCurrentRow(item, true)
                                                      _this.handleSelectionChange(item)
                                                  } else {
                                                      _this.$refs.firstViews.setCurrentRow(_this.tabData1[0], true)
                                                      _this.handleSelectionChange(_this.tabData1[0])
                                                  }
                                              })
                                          }else{
                                              _this.tableData = []
                                          }
                                      } else if(tab === 'second'){
                                          _this.tabData2 = data
                                          if(_this.tabData2.length>0){
                                              if(_this.secondGroupVal.groupId === undefined){
                                              _this.secondGroupVal = _this.tabData2[0]
                                              }
                                              let item = _this.tabData2.find(e => _this.secondGroupVal.groupId === e.groupId)
                                              _this.$nextTick(() => {
                                                  if(item){
                                                      _this.$refs.secondViews.setCurrentRow(item, true)
                                                      _this.handleSelectionChange(item)
                                                  } else {
                                                      _this.$refs.secondViews.setCurrentRow(_this.tabData2[0], true)
                                                      _this.handleSelectionChange(_this.tabData2[0])
                                                  }
                                              })
                                          }else{
                                              _this.tableData = []
                                          }
                                      }

                                      if(data.length>0 && data[0].points){
                                        _this.total = data[0].points.totalItems
                                        _this.currentPage = data[0].points.currentPage
                                        _this.pageSize = data[0].points.itemsPrePage
                                      }else{
                                        _this.total = 0
                                        _this.currentPage = 1
                                      }
                                  }
                                  _this.isChangeNum++
                              }
                          }
                      }
                  })

              } else { // 空间平台地图应用未用到此处内容
                  if(tab === 'first'){
                      _this.$nextTick(() => {
                          _this.tabData1.forEach(e => {
                              if(_this.firstGroupVal.groupId === e.groupId){
                                _this.$refs.firstViews.setCurrentRow(e, true)
                                _this.handleSelectionChange(e)
                              }
                          })
                          
                          if(_this.tabData1.length>0 && _this.tabData1[0].points){
                            _this.total =  _this.tabData1[0].points.totalItems
                            _this.currentPage = _this.tabData1[0].points.currentPage
                            _this.pageSize = _this.tabData1[0].points.itemsPrePage
                          }else{
                            _this.total = 0
                            _this.currentPage = 1
                          }
                      })
                  } else if(tab === 'second'){
                      _this.$nextTick(() => {
                          _this.tabData2.forEach(e => {
                              if(_this.secondGroupVal.groupId === e.groupId){
                                _this.$refs.secondViews.setCurrentRow(e, true)
                                _this.handleSelectionChange(e)
                              }
                          })
                          
                          if(_this.tabData2.length>0 && _this.tabData2[0].points){
                            _this.total =  _this.tabData2[0].points.totalItems
                            _this.currentPage = _this.tabData2[0].points.currentPage
                            _this.pageSize = _this.tabData2[0].points.itemsPrePage
                          }else{
                            _this.total = 0
                            _this.currentPage = 1
                          }
                      })
                  }
              }
          },

          // 点击视点列表组
          handleSelectionChange(val){
              let _this = this
              if(val){
                  _this.tableData = val.points.items
              } else {
                  _this.tableData = []
              }
              if(_this.activeName === 'first'){
                  _this.firstGroupVal = val
              } else {
                  _this.secondGroupVal = val
              }
          },

          // 点击视点列表具体对象,加载对应图层并跳至目标，
          childListSelectionChange(val){
              let self = this
              // 加载图层
              if(val.maps){
                  // self.childListVal = list;
                  // 关闭所有图层
                  if(Page.visibleLayerNodes && Page.visibleLayerNodes.length > 0){
                      let param = {}, layers = []
                      Page.visibleLayerNodes.forEach(node => {
                          layers.push(node.id)
                      })
                      param = {
                          layers: layers
                      }
                      superMapInterface.interface.closeLayers(param)
                  }

                  let list = eval(val.maps)
                  if(list.length > 0){
                      // 打开对应图层
                      let param2 = {
                          layers: list
                      }
                      superMapInterface.interface.visibleLayers(param2)
                  }
              }

              // 移动到目标位置
              if(val.position) {
                  let pos = JSON.parse(val.position)
                  let thePosition
                  // if(self.sceneView){
                  //     if(pos.destination.left!==undefined && pos.destination.bottom!==undefined 
                  //         && pos.destination.right!==undefined && pos.destination.top!==undefined){
                  //         // 三维中的二维地址
                  //         thePosition = Cesium.Rectangle.fromDegrees(pos.destination.left, pos.destination.bottom, pos.destination.right, pos.destination.top)
                  //         MapHelper.lookAtRectangle(self.sceneView.viewer, thePosition)
                  //     } else {
                  //         // 三维中的三维地址
                  //         thePosition = resetPosition(JSON.parse(val.position))
                  //         MapHelper.setSceneView(self.sceneView.viewer, thePosition)
                  //     }
                  // }
                  // if(self.mapView){
                      // if(pos.orientation){
                      //     // 二维中的三维地址
                      //     thePosition = MapHelper.calculateBounds(pos.destination.x, pos.destination.y, pos.destination.z)
                      // } else {
                          // 二维中的二维地址
                          thePosition = pos.destination
                      // }
                      let extent = {
                          xmin: thePosition.left,
                          ymin: thePosition.bottom,
                          xmax: thePosition.right,
                          ymax: thePosition.top
                      }
                      superMapInterface.interface.zoomToLocation({extent: extent})
                      // MapHelper.setCenterOrExtent(self.mapView.map, thePosition)
                  // }
              }

              // 判断是否在地下
              // if(val.opacity !== undefined){
              //     if(self.sceneView){
              //         self.sceneView.viewer.scene.globe.globeAlpha = val.opacity
              //         // self.sceneView.viewer.scene.globe.globeAlpha = val.underGround === 0 ? 1 : 0 // 地上时underground为0，地上表示透明度为1
              //     }
              // }

          },

          // 图片 || 默认图片
          getImgUrl(imgUrl) {
              if(imgUrl) {
                  return imgUrl;
              } else {
                  return appConfig.appUrl + "/images/toolBar2/default.png";
              }
          },

          // 取消收藏
          cancelCollecte(row){
            let _this = this
            Page.requestProvider({
              async: true,
              type: 'POST',
              data: {
                  interfaceName: "antu.space.provider.pointandgroup.pointAndGroupProvider",
                  methodName: "deleteGroupPointById",
                  args: [row.viewId]
              },
              success: function (res) {
                  if (res != null) {
                      if (res.status == "0") {
                        if((_this.total-1) <= _this.pageSize*(_this.currentPage-1)){
                          if(_this.currentPage > 1){
                            _this.currentPage -= 1
                          }
                        }
                        if(_this.activeName == 'first'){
                          _this.currentPage1 = _this.currentPage
                        }else{
                          _this.currentPage2 = _this.currentPage
                        }
                        _this.isChangeNum = 1
                        _this.handleClick(_this.activeName, _this.isChangeNum)
                        Page.showMessager(null,"视点删除成功", appConfig.const.consoleType.SUCCESS);
                        // if(Page.viewCollect){ //传给视点列表，以便实时更新
                        //     Page.viewCollect.changePlace(Page.viewCollect.$data.ruleForm.place)
                        // }
                      }
                  }
              }
            })
          }
        },
        destroyed: function () {
            console.log('bbbbbbbbbbb')
            Page.viewList = undefined
        }
    })
}
</script>
<style>
.el-table__body tr.current-row > td {
    background-color: #ecf5ff!important;
  }

  /* 去掉box阴影样式 */
  .el-tabs--border-card {
    border-bottom: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .el-tabs__header{
    /*margin: 0px 42px 10px !important;*/
  }

  .el-table tr{
    cursor: pointer;
  }
  .nav {
    color: #ecf5ff;
  }
  .nav .el-table td{
      padding: 8px 0px !important;
    }
  .nav >>> .el-table::before {
    height: 0px !important;
  }
  .nav >>> .el-tabs__header{
    background-color: transparent !important;
    margin-left: 10%;
    width: 80%;
  }
  .nav >>> .el-tabs__header .el-tabs__item{
    border-left-color: var(--lineColor);
  }
  .list .el-table td{
      padding: 5px 0px!important;
  }
  .list >>> .el-table::before {
    height: 0px !important;
  }
  .tooltip >>> .el-tooltip__popper .is-dark{
    /* // width: 80%; 修改宽度 */
    background: var(--backgroundColor) !important;/*背景色  !important优先级*/
    /* // opacity: 0.5 !important;背景色透明度 */
    color: var(--titleColor2) !important;/*字体颜色*/
  }

  .listTitle{
    color: #555;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background: #ecf5ff;
  }

  
  .el-table__header-wrapper >>> .has-gutter tr {
      background: transparent!important;
    }
  .el-table__header-wrapper >>> .has-gutter th.is-leaf {
      border-bottom: 1px solid var(--lineColor);
    }
  
  .list >>> .el-table th, .el-table tr {
    background: transparent!important;
    border-bottom: 1px solid var(--lineColor);
    border-right: none;
    border-left: none;
    border-top: none;
  }
  .tr_Img{
    width: 40px;
    height: 40px;
    margin-bottom: -5px;
  }
  .iconColor{
    color: var(--activeColor2);
  }

  .tableContext {
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
</style>

</html>